# تجاهل فولدر الـ node_modules
node_modules/

# تجاهل ملفات اللوجز
*.log
npm-debug.log*

# تجاهل ملفات بيئة العمل
.env

# تجاهل ملفات النظام
.DS_Store
Thumbs.db

# تجاهل ملفات الكاش
.cache/
dist/
build/

# تجاهل إعدادات بعض المحررات
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
